*body{
    border-width: 3px;
    border-color: green;
    border-style: 2px solid;
}

*{
    background-color: blue;
    width: 20px;
    margin-left: auto;
    justify-content: center;
    text-align: justify;
    
}
    